<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CryptoEstate - Secure Your Web3 Assets</title>
  <link href='https://fonts.googleapis.com/css?family=Visage' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css">
  <link rel="stylesheet" href="./style.css">
  <style>
    .blur {
      backdrop-filter: blur(10px);
    }
  </style>
</head>
<body class="bg-gradient-to-b from-blue-900 via-gray-600 to-gray-100 text-gray-800">
  <header class="bg-gray-900 shadow flex justify-between items-center blur">
    <div class="container mx-auto py-4 px-8 flex justify-between items-center">
      <h1 class="text-3xl font-bold text-green-500">CryptoEstate</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="text-blue-400 hover:text-blue-300">About</a></li>
          <li><a href="#" class="text-blue-400 hover:text-blue-300">Features</a></li>
          <li><a href="#" class="text-blue-400 hover:text-blue-300">Log In</a></li>
          <li><a href="#" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="bg-gradient-to-b from-gray-800 via-gray-400 to-white py-20 blur">
    <div class="container mx-auto flex flex-col items-start md:flex-row md:items-center">
      <img class="mx-auto max-w-xs md:max-w-lg rounded-lg md:rounded-none md:float-left mr-4 md:mr-8" src="static/assets/Fotor_AI.png" alt="CryptoEstate - Secure Your Web3 Assets">
      <div class="md:w-1/2">
        <h2 class="text-4xl font-bold mt-8 mb-4 text-center md:text-left">Protect Your Crypto Assets</h2>
        <p class="text-lg text-center leading-7 md:text-left">CryptoEstate helps you securely store and transfer your Web3 assets by allowing you to easily create and manage your inheritance plan.</p>
      </div>
    </div>
  </div>
</body>
</html>
